<h2>New book</h2>
  <%= form_with model:book,local:true do |f| %>
    <div class = "form-group">
      <label for="title">Title</label>
      <%= f.text_field :title,autofocus: true,id:"title",placeholder:"本のタイトル",class: "form-control" %>
    </div>
    <div class = "form-group">
      <label for="opinion">Opinion</label>
      <%= f.text_area :body,autofocus: true,id:"opinion",placeholder:"感想",class: "form-control" %>
    </div>
    <%= f.submit "Create Book",class: "btn btn-success btn-md " %>
  <% end %>